[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kaoxx/Desktop/HTB]
row=0
col=1

[/home/kaoxx/Desktop/dotfiles]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kaoxx]
row=2
col=0

